
        @model ETMS.Models.Employee

        <div class="grid_4"style="width: 600px;margin-left: 310px">
				<div class="block-border">
					<div class="block-header">
						<h1>Employee Information</h1><span></span>
					</div>
					<form id="validate-form" class="block-content form" action="@Url.Action("/DeleteEmployee")" method="post">
                        <input type="hidden" name="empID" value="@Model.Id"/>
						<p class="inline-mini-label">
							<label for="title" >FirstName</label>
                            <input type="text" name="fname" class="required" value="@Model.FirstName">
						</p>
                        <p class="inline-mini-label">
							<label for="title">Last Name</label>
                            <input type="text" name="lname" class="required" value="@Model.LastName">
						</p>
                        <p class="inline-mini-label">
							<label for="title" >CNIC</label>
                            <input type="text" name="cnic" class="required" value="@Model.CNIC">
						</p>
                        <p class="inline-mini-label">
							<label for="title" >ID</label>
                            <input type="text" name="id" class="required" value="@Model.EmpID">
						</p>
                        <p class="inline-mini-label">
							<label for="title" >Address</label>
                            <input type="text" name="adress" class="required" value="@Model.Address">
						</p>
                        <p class="inline-mini-label">
							<label for="title" >Email</label>
                            <input type="text" name="email" class="required" value="@Model.Email">
						</p>
                        
                        <p class="inline-mini-label">
							<label for="category">@Model.Department</label>
							<select name="department" id="category" >
								<option>Developer</option>
								<option>Quality Assurance</option>
								<option>Humane Resource</option>
                                <option>Finance</option>
                                <option>Accounts</option>
                                <option>Client Relationship Communication</option>

							</select>
						</p>
						<p class="inline-mini-label">
								<label for="post">Skills</label>
								<textarea id="post" name="skills" class="required" rows="5" cols="40" >@Model.Skills</textarea>
							</p>
						</p>

						<div class="clear"></div>
						
						<!-- Buttons with actionbar  -->
						<div class="block-actions">
                            
							<ul class="actions-left">
								<li><a class="button red" id="reset-validate-form" href="@Href("~/Employee/ViewEmployees")">Cancel</a></li>
							</ul>
							<ul class="actions-right">
								<li><input type="submit" class="button" value="Delete"/></li>
							</ul>
                                
						</div> <!--! end of #block-actions -->
					</form>
				</div>
			</div>
