@model ETMS.Models.Employee

            <div class="grid_4" style="width: 600px;margin-left: 310px">
				<div class="block-border">
					<div class="block-header">
						<h1>Update Employee Information</h1><span></span>
					</div>
					<form id="validate-form" class="block-content form" method="post">
						<p class="inline-mini-label">
							<label for="title" >FirstName</label>
                            <input type="text" name="FirstName" value="@Model.FirstName" class="required">
						</p>
                        <p class="inline-mini-label">
							<label for="title">Last Name</label>
                            <input type="text" name="LastName" value="@Model.LastName" class="required">
						</p>
                        <p class="inline-mini-label">
							<label for="title" >CNIC</label>
                            <input type="text" name="CNIC" value="@Model.CNIC"class="required">
						</p>
                        <p class="inline-mini-label">
							<label for="title" >ID</label>
                            <input type="text" name="EmpID" value="@Model.EmpID"class="required">
						</p>
                        <p class="inline-mini-label">
							<label for="title" >Device ID</label>
                            <input type="text" name="DeviceID" value="@Model.DeviceID"class="required">
						</p>
                        <p class="inline-mini-label">
							<label for="title" >Address</label>
                            <input type="text" name="Address" value="@Model.Address"class="required">
						</p>
                        <p class="inline-mini-label">
							<label for="title" >Email</label>
                            <input type="text" name="Email" value="@Model.Email" class="required">
						</p>
                        
                        <p class="inline-mini-label">
							<label for="category">@Model.Department</label>
							<select name="Department" id="category">
								<option>Developer</option>
								<option>Quality Assurance</option>
								<option>Humane Resource</option>
                                <option>Finance</option>
                                <option>Accounts</option>
                                <option>Client Relationship Communication</option>

							</select>
						</p>
						<p class="inline-mini-label">
								<label for="post">Skills</label>
								<textarea id="post" name="Skills" class="required" rows="5" cols="40">@Model.Skills</textarea>
							</p>
						</p>

						<div class="clear"></div>
						
						<!-- Buttons with actionbar  -->
						<div class="block-actions">
							<ul class="actions-left">
								<li><input type="submit" class="button" value="Cancel" style="width:65px"></li>
							</ul>
							<ul class="actions-right">
								<li><input type="submit" class="button" value="Update" style="width:65px"></li>
							</ul>
						</div> <!--! end of #block-actions -->
					</form>
				</div>
			</div>