
            <div class="grid_4" style="width: 260px;margin-left: 50px">
				<div class="block-border">
					<div class="block-header">
						<h1>Add Employee Inforamtion</h1><span></span>
                        <br/>
                        <a href="@Href("~/Employee/AddEmployeeInfo")">
							<img src="@Href("~/Content/img/Info/AddEmp.ico")" style="width:100px;height: 100px;margin-left: 70px"/>
                            <br/>
                            <br/>
                            <div style="margin-left: 90px;margin-bottom: 15px"><a href="@Href("~/Employee/AddEmployeeInfo")"><b>Continue</b></a></div>
						</a>
					</div>
				
				</div>
			</div>

			<div class="grid_4" style="width: 260px">
				<div class="block-border">
					<div class="block-header">
						<h1>Add Project Information</h1><span></span>
                        <br/>
                        <a href="@Href("~/Project/AddProjectInfo")">
							<img src="@Href("~/Content/img/Info/AddProj.jpg")" style="width:100px;height: 100px;margin-left: 70px"/>
                            <br/>
                            <br/>
                            <div style="margin-left: 90px;margin-bottom: 15px"><a href="@Href("~/Project/AddProjectInfo")"><b>Continue</b></a></div>
						</a>
					</div>
					
				</div>
			</div>
			<br/>
			<div class="grid_4" style="width: 260px;">
				<div class="block-border">
					<div class="block-header">
						<h1>Add Client Information</h1><span></span>
                        <br/>
                        <a href="@Href("~/Client/AddClientInfo")">
							<img src="@Href("~/Content/img/Info/AddClient.jpg")" style="width:100px;height: 100px;margin-left: 70px"/>
                            <br/>
                            <br/>
                            <div style="margin-left: 90px;margin-bottom: 15px"><a href=@Href("~/Client/AddClientInfo")><b>Continue</b></a></div>
						</a>
					</div>
					
				</div>
			</div>

            <div class="grid_4" style="width: 260px;">
				<div class="block-border">
					<div class="block-header">
						<h1>Add Supplier Information</h1><span></span>
                        <br/>
                        <a href="@Href("~/Supplier/AddSupplierInfo")">
							<img src="@Href("~/Content/img/Info/AddSup.jpg")" style="width:100px;height: 100px;margin-left: 70px"/>
                            <br/>
                            <br/>
                            <div style="margin-left: 90px;margin-bottom: 15px"><a href="@Href("~/Supplier/AddSupplierInfo")"><b>Continue</b></a></div>
						</a>
					</div>
					
				</div>
			</div>