<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <!-- DNS prefetch -->
  <link rel=dns-prefetch href="//fonts.googleapis.com">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/b/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>MEWAPP'S &amp; Admin Panel</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

  <!-- CSS: implied media=all -->
  <!-- CSS concatenated and minified via ant build script-->
  <link rel="stylesheet" href="~/Content/css/styleus.css"> <!-- Generic style (Boilerplate) -->
  <link rel="stylesheet" href="~/Content/css/960.fluid.css"> <!-- 960.gs Grid System -->
  <link rel="stylesheet" href="~/Content/css/main.css"> <!-- Complete Layout and main styles -->
  <link rel="stylesheet" href="~/Content/css/buttons.css"> <!-- Buttons, optional -->
  <link rel="stylesheet" href="~/Content/css/lists.css"> <!-- Lists, optional -->
  <link rel="stylesheet" href="~/Content/css/icons.css"> <!-- Icons, optional -->
  <link rel="stylesheet" href="~/Content/css/notifications.css"> <!-- Notifications, optional -->
  <link rel="stylesheet" href="~/Content/css/typography.css"> <!-- Typography -->
  <link rel="stylesheet" href="~/Content/css/forms.css"> <!-- Forms, optional -->
  <link rel="stylesheet" href="~/Content/css/tables.css"> <!-- Tables, optional -->
  <link rel="stylesheet" href="~/Content/css/charts.css"> <!-- Charts, optional -->
  <link rel="stylesheet" href="~/Content/css/jquery-ui-1.8.15.custom.css"> <!-- jQuery UI, optional -->
  <!-- end CSS-->
  
  <!-- Fonts -->
  <link href="//fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
  <!-- end Fonts-->

  <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

  <!-- All JavaScript at the bottom, except for Modernizr / Respond.
       Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
       For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->
  <script src="~/Content/js/libs/modernizr-2.0.6.min.js"></script>
</head>

<body id="top">

  <!-- Begin of #container -->
  <div id="container">
  	<!-- Begin of #header -->
    <div id="header-surround"><header id="header">
    	
    	<!-- Place your logo here -->
       
     	<img src=@Href("~/Content/img/logo.png") alt="MEWAPP" class="logo" style="width: 70px;height: 30px;margin-right: 20px;margin-top: 7px"> 
    @*    <h2 style="width: 80px;height: 40px">MEWAPP'S </h2>*@
		
		<!-- Divider between info-button and the toolbar-icons -->
		<div class="divider-header divider-vertical"></div>
		
		<!-- Info-Button -->
		<a href="javascript:void(0);" onclick="$('#info-dialog').dialog({ modal: true });"><span class="btn-info"></span></a>
		
			<!-- Modal Box Content -->
			<div id="info-dialog" title="About" style="display: none;">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div> <!--! end of #info-dialog -->
		
		<!-- Begin from Toolbox -->
		<ul class="toolbox-header">
			<!-- First entry -->
	        <!--! end of first entry -->
			
			<!-- Second entry -->
			<li>
				<a rel="tooltip" title="Write a Message" class="toolbox-action" href="javascript:void(0);"><span class="i-24-inbox-document"></span></a>
				<div class="toolbox-content">
					
					<!-- Box -->
					<div class="block-border">
						<div class="block-header small">
							<h1>Write a Message</h1>
						</div>
						<form id="write-message-form" class="block-content form" action="" method="post">							
							<p class="inline-mini-label">
								<label for="recipient">Recipient</label>
								<input type="text" name="recipient" class="required">
							</p>
							<p class="inline-mini-label">
								<label for="subject">Subject</label>
								<input type="text" name="subject">
							</p>
							<div class="_100">
								<p class="no-top-margin"><label for="message">Message</label><textarea id="message" name="message" class="required" rows="5" cols="40"></textarea></p>
							</div>
							
							<div class="clear"></div>
							
							<!-- Buttons with actionbar  -->
							<div class="block-actions">
								<ul class="actions-left">
									<li><a class="close-toolbox button red" id="reset2" href="javascript:void(0);">Cancel</a></li>
								</ul>
								<ul class="actions-right">
									<li><input type="submit" class="button" value="Send Message"></li>
								</ul>
							</div> <!--! end of #block-actions -->
						</form>
					</div> <!--! end of box -->
					
				</div>
			</li> <!--! end of second entry -->
			
			<!-- Third entry -->
			 <!--! end of third entry -->
		</ul>
		
		<!-- Begin of #user-info -->
		<div id="user-info">
			<p>
				<span class="messages">Hello <a href="javascript:void(0);">Administrator</a> ( <a href="@Href("~/Home/Messages")"><img src="~/Content/img/icons/packs/fugue/16x16/mail.png" alt="Messages"> 3 new messages</a> )</span>
				<a href="javascript:void(0)" class="toolbox-action button">Settings</a> <a href="javascript:void(0);" class="button red">Logout</a>
			</p>
		</div> <!--! end of #user-info -->
		
    </header></div> <!--! end of #header -->
    
    <div class="fix-shadow-bottom-height"></div>
	
	<!-- Begin of Sidebar -->
    <aside id="sidebar">
    	
    	<!-- Search -->
    	<div id="search-bar">
			<form id="search-form" name="search-form" action="search.php" method="post">
				<input type="text" id="query" name="query" value="" autocomplete="off" placeholder="Search">
			</form>
		</div> <!--! end of #search-bar -->
		
		<!-- Begin of #login-details -->
		<section id="login-details">
    		<img class="img-left framed" src="~/Content/img/misc/avatar_small.png" alt="Hello Admin">
    		<h3>Logged in as</h3>
    		<h2><a class="user-button" href="javascript:void(0);">Administrator&nbsp;<span class="arrow-link-down"></span></a></h2>
    		<ul class="dropdown-username-menu">
    			<li><a href="#">Profile</a></li>
    			<li><a href="#">Settings</a></li>
    			<li><a href="#">Messages</a></li>
    			<li><a href="#">Logout</a></li>
    		</ul>
    		
    		<div class="clearfix"></div>
  		</section> <!--! end of #login-details -->
    	
    	<!-- Begin of Navigation -->
    	<nav id="nav">
	    	<ul class="menu collapsible shadow-bottom">
	    		<li><a href="Dashboard.cshtml" class="current"><img src="~/Content/img/icons/packs/fugue/16x16/dashboard.png">Dashboard<span class="badge">2</span></a></li>
	    		<li><a href="#"><img src="~/Content/img/icons/packs/fugue/16x16/application-form.png">Manage Information<span class="badge grey">4</span></a>
                  <ul class="sub">
                        <li><a href="@Href("~/Employee/ViewEmployees")">Employee Information</a></li>
	    				<li><a href="@Href("~/Client/ViewClients")">Client Information</a></li>
	    				<li><a href="@Href("~/Project/ViewProjects")">Project Inforamtion</a></li>
	    				<li><a href="@Href("~/Supplier/ViewSuppliers")">Supplier Information</a></li>
                        
	    	    </ul>
                </li>	    		
	    		<li>
	    			<a href="javascript:void(0);"><img src="~/Content/img/icons/packs/fugue/16x16/clipboard-list.png">Provide Inforamtion<span class="badge grey">3</span></a>
	    			<ul class="sub">
	    				<li><a href="@Href("~/Home/SearchHR")">Provide Human Resource Information</a></li>
	    				<li><a href="@Href("~/Home/SearchLocation")">Provide Shelter Information</a></li>
                        <li><a href="@Href("~/Home/ProvideObservation")">Provide Observation</a></li>	    				
	    			</ul>
	    		</li>
	    		
	    	</ul>
    	</nav> <!--! end of #nav -->
    	
    </aside> <!--! end of #sidebar -->
    
    <!-- Begin of #main -->
    <div id="main" role="main">
    	
    	<!-- Begin of titlebar/breadcrumbs -->
		<div id="title-bar">
			<ul id="breadcrumbs">
				<li><a href="dashboard.html" title="Home"><span id="bc-home"></span></a></li>
				<li class="no-hover">Table</li>
			</ul>
		</div> <!--! end of #title-bar -->
		
		<div class="shadow-bottom shadow-titlebar"></div>
		
		<!-- Begin of #main-content -->
		<div id="main-content">
			<div class="container_12">
                <div class="grid_12">
				    <h1>Dashboard</h1>
				    <p>Here you have a quick overview of some features</p>
				    <div class="alert info"><span class="hide">x</span><strong>Welcome Admin here you can do administrative actions of &quot;Employee Tracking and Management System&quot;.</strong></div>
			    </div>
			<div class="grid_12">
				<div class="block-border">
					<div class="block-content">
						<ul class="shortcut-list">
							<li style="margin-left: 110px">
								<a href="@Href("~/Home/AddInfo")">
									<img src="~/Content/img/icons/packs/crystal/48x48/apps/add.png">
									Add Information
								</a>
							</li>
							
							<li>
								<a href="@Href("~/Home/SearchHR")">
									<img src="~/Content/img/icons/packs/crystal/48x48/apps/hr.png">
									Provide HR Info
								</a>
							</li>
							<li>
								<a href="@Href("~/Home/ProvideObservation")">
									<img src="~/Content/img/icons/packs/crystal/48x48/apps/observation.png">
									Provide Observation
								</a>
							</li>							
							<li>
								<a href="@Href("~/Home/SearchLocation")">
									<img src="~/Content/img/icons/packs/crystal/48x48/apps/shelter.png">
									Provide Shelter Inforamtion
								</a>
							</li>
						</ul>
						<div class="clear"></div>
					</div>
				</div>
			</div>

			@RenderBody()  
			
                
			
			<div class="clear height-fix"></div>

		</div></div> <!--! end of #main-content -->
  </div> <!--! end of #main -->

    
    <footer id="footer"><div class="container_12">
		<div class="grid_12">
    		<div class="footer-icon align-center"><a class="top" href="#top"></a></div>
		</div>
    </div></footer>
  </div> <!--! end of #container -->


  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="~/Content/js/libs/jquery-1.6.2.min.js"><\/script>')</script>


  <!-- scripts concatenated and minified via ant build script-->
  <script defer src="~/Content/js/plugins.js"></script> <!-- lightweight wrapper for consolelog, optional -->
  <script defer src="~/Content/js/mylibs/jquery-ui-1.8.15.custom.min.js"></script> <!-- jQuery UI -->
  <script defer src="~/Content/js/mylibs/jquery.notifications.js"></script> <!-- Notifications  -->
  <script defer src="~/Content/js/mylibs/jquery.uniform.min.js"></script> <!-- Uniform (Look & Feel from forms) -->
  <script defer src="~/Content/js/mylibs/jquery.validate.min.js"></script> <!-- Validation from forms -->
  <script defer src="~/Content/js/mylibs/jquery.dataTables.min.js"></script> <!-- Tables -->
  <script defer src="~/Content/js/mylibs/jquery.tipsy.js"></script> <!-- Tooltips -->
  <script defer src="~/Content/js/mylibs/excanvas.js"></script> <!-- Charts -->
  <script defer src="~/Content/js/mylibs/jquery.visualize.js"></script> <!-- Charts -->
  <script defer src="~/Content/js/mylibs/jquery.slidernav.min.js"></script> <!-- Contact List -->
  <script defer src="~/Content/js/common.js"></script> <!-- Generic functions -->
  <script defer src="~/Content/js/script.js"></script> <!-- Generic scripts -->  
  
  <script type="text/javascript">
      $().ready(function () {

          /*
          * Form Validation
          */

          var v = $("#create-user-form").validate();
          jQuery("#reset").click(function () { v.resetForm(); $.jGrowl("User was not created!", { theme: 'error' }); });

          var v2 = $("#write-message-form").validate();
          jQuery("#reset2").click(function () { v2.resetForm(); $.jGrowl("Message was not sent.", { theme: 'error' }); });

          var v3 = $("#create-folder-form").validate();
          jQuery("#reset3").click(function () { v3.resetForm(); $.jGrowl("Folder was not created!", { theme: 'error' }); });

          /*
          * DataTables
          */
          $('#table-example').dataTable();

          var validateform = $(".validate-form").validate();
          $("#reset-validate-form").click(function () {
              validateform.resetForm();
              $.jGrowl("Blogpost was not created.", { theme: 'error' });
          });
          
          var validateform_po = $("#validate-form_PO").validate();
          $("#reset-validate-form").click(function () {
              validateform_po.resetForm();
              $.jGrowl("Blogpost was not created.", { theme: 'error' });
          });

           var validateform_rd = $("#validate-form_RD").validate();
          $("#reset-validate-form").click(function () {
              validateform_rd.resetForm();
              $.jGrowl("Blogpost was not created.", { theme: 'error' });
          });

           var validateform_sl = $("#validate-form_SL").validate();
          $("#reset-validate-form").click(function () {
              validateform_sl.resetForm();
              $.jGrowl("Blogpost was not created.", { theme: 'error' });
          });

            var validateform_ri = $("#validate-form_RI").validate();
          $("#reset-validate-form").click(function () {
              validateform_ri.resetForm();
              $.jGrowl("Blogpost was not created.", { theme: 'error' });
          });

          var validateform1 = $("#validate-form1").validate();
          $("#reset-validate-form").click(function () {
              validateform1.resetForm();
              $.jGrowl("Blogpost was not created.", { theme: 'error' });
          });
          var validateform2 = $("#validate-form2").validate();
          $("#reset-validate-form").click(function () {
              validateform2.resetForm();
              $.jGrowl("Blogpost was not created.", { theme: 'error' });
          });
            var validateform2 = $("#validate-form3").validate();
          $("#reset-validate-form").click(function () {
              validateform3.resetForm();
              $.jGrowl("Blogpost was not created.", { theme: 'error' });
          });



      });
  </script>
  <!-- end scripts-->

  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  
</body>
</html>